.banner {
    padding: 0;
    background: #98adae;
    &__title {
        position: absolute;
        left: 50%;
        width: 65%;
        top: 37%;
        transform: translate(-50%, -50%);
        text-align: center;
        @media screen and (max-width:766px) {
            top: 32%;
            left: 50%;
            width: 90%;
            text-align: right;
        }
    }
        h2 {
           
            font-size: 4.3rem;
            color: #e24d49;
            text-shadow: 2px 2px #80abc6;
            line-height: 4.3rem;

            @media screen and (max-width:766px) {
                font-size: 2.4rem;
                line-height: 2.4rem;
            }

        
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
        right: 0;
        background: linear-gradient(to top, #bef7fd, transparent);
        height: 50px;
    }
    .rombongan {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        
        .org {
            position: absolute;
            bottom: 0;
            width: 70vw;
            height: 70vh;
            // @media screen and (max-width:766px) {
            //     bottom: 10%;
            //     width: 170px;
            // }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &.test {
                &-1 {
                    left: 0%;
                    @media screen and (max-width:766px) {
                        left: -5%;
                    }
                }
                &-2 {
                    left: 15%;
                    @media screen and (max-width:766px) {
                        left:50%
                    }
                }
                &-3 {
                    left: 35%;
                    @media screen and (max-width:766px) {
                        left: 20%;
                    }
                }
                &-4 {
                    left: 35%;
                    z-index: 6;
                    @media screen and (max-width:766px) {
                        // left: 20%;
                    }
                }
                &-5 {
                    left: 35%;
                    width: 42vw;
                    bottom: 20vh;
                    height: 42vh;
                    @media screen and (max-width:766px) {
                        left: 42%;
                        bottom: 23vh;
                        // width: 4vw;
                        // height: 45vh;
                        
                    }
                }
            }
        }
    }
    .img {
        width: 100%;
        height: 100vh;
        @media screen and(max-width:766px) {
            height: 100vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width:766px) {
                object-fit: cover;
            }
        }
    }

    .keretas {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}