.banner {
    padding: 0;
    background: #98adae;
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
        right: 0;
        background: linear-gradient(to top, #bef7fd, transparent);
        height: 50px;
    }
    .rombongan {
        // position: absolute;
        // bottom: 0;
        // left: 0;
        .org {
            position: absolute;
            bottom: 0;
            width: 200px;
            height: 360px;
            @media screen and (max-width:766px) {
                bottom: 5%;
                width: 170px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &.test {
                &-1 {
                    left: 0%;
                    @media screen and (max-width:766px) {
                        left: -5%;
                    }
                }
                &-2 {
                    left: 15%;
                    @media screen and (max-width:766px) {
                        left:50%
                    }
                }
                &-3 {
                    left: 35%;
                    @media screen and (max-width:766px) {
                        left: 20%;
                    }
                }
            }
        }
    }
    .img {
        width: 100%;
        height: 100vh;
        @media screen and(max-width:766px) {
            height: 75vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width:766px) {
                object-fit: cover;
            }
        }
    }
}