.jalur {
    background: #d4e8f9;
    padding: 0;
    .wrap {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 50%;
        z-index: 11;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        display: block;
        text-align: center;
        @media screen and (max-width:766px) {
            width: fit-content;
        }
        &::before {
            @media screen and (max-width:766px) {
                content: "";
                position: absolute;
                left: -16px;
                height: 90%;
                top: 5%;
                width: 3px;
                background: #333;
            }
        }
    }
    .img {
        position: sticky;
        inset: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
       
       
        &-1 {
            position: absolute;
            bottom: 0px;
            left: 0;
            right: 0;
            width: 100%;
            z-index: 0;
            height: 100vh;
            @media screen and (max-width:766px) {
                height: 60vh;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        @keyframes kokpit {
            0%, 100% {
              bottom: 0px;
            }
            50% {
              bottom: -10px;
              
            }
          }
        &-3 {
            position: absolute;
            top: 0;
            // animation: kokpit 2s linear infinite;
            bottom: 0px;
            left: 0;
            right: 0;
            width: 100%;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        
        &-2 {
            position: absolute;
            width: auto;
            height: auto;
            bottom: 0;
            left: 0;
            right: 0;
            @media screen and (max-width:766px) {
                top: 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        @keyframes awans {
            0%, 100% {
              left: 25%;
            }
            50% {
              left: 27%;
              
            }
          }
        &-4 {
            display: none;
            @media screen and (max-width:766px) {
                display: block;
                animation: awans 2s linear infinite;
                position: absolute;
                top: -5%;
                left: 25%;
                width: 80px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        @media screen and (max-width:766px) {
            position: absolute;
            width: 150%;
            height: 50%;
            bottom: 0;
            left: initial;
            right: -20%;
            top: initial;
            
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width:766px) {
                object-fit: contain;
            }
        }
    }
    .h-vh {
        @media screen and (max-width:766px) {
            height: 50vh;
            position: relative;
            z-index: -1;
            position: absolute;
        
        }
    }
    .nama-stasiun{
        background: #444e57;
        // background: rgba($color: #444e57, $alpha: .8);
        width: fit-content;
        display: inline-block;
        color: white;
        border-radius: 8px;
        padding: 16px;
        margin: 8px 4px 24px;
        position: relative;
        &::before {
            @media screen and (max-width:766px) {
                content: "";
                position: absolute;
                left: -20px;
                width: 12px;
                top: 45%;
                height: 12px;
                background: #333;
                border-radius: 50%;
            
            }
        }
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 50%;
        //     width: 50px;
        //     height: 30px;
        //     border: 2px solid white;
        // }
        @media screen and (max-width:766px) {
            margin: 8px 0px;
            display: block;
            padding: 8px;
            
        }
    }

    .fini {
        background: #e24d49 !important;
    }
}