.starting {
    background: #96c6cf;
    padding: 0;
    .dedi {
        position: absolute;
        filter: brightness(0);
        // transform: rotatedeg);
        left: -16vh;
        transform: skew(63deg, -19deg);
        /* background: linear-gradient(to top, black, transparent); */
        /* width: 60px; */
        z-index: -1;
        width: 66px;
        bottom: -70px;
    }
    .peta {
        position: absolute;
        right: -8vw;
        bottom: -15vh;
        width: 60vw;
        height: 66vh;
        z-index: 12;
        @media screen and (max-width:766px) {
            width: 30vw;
            right: 5vw;
            bottom: -25vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80px;
        background: linear-gradient(to bottom, transparent, #c4e8ef);
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30vh;
        background: 100px;
        background: #acb8bf;
      }
    .bgbg {
        display: none;
        @media screen and (max-width:766px) {
            position: absolute;
            inset: 0;
            width: 100%;
            display: block;
            height: 100%;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to top, #96c6cf, rgba(#96c6cf,.8), #96c6cf);
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }
    }
    .titles {
        display: none;
        @media screen and (max-width:766px) {
            position: absolute;
            left: 50%;
            display: block;
            top: 15%;
            background: #e24d49;
            color: white;
            width: 80%;
            text-align: center;
            transform: translate(-50%,0%);
            h3 {
                @media screen and (max-width:766px) {
                    font-size: 2.2rem;
                    font-weight: 600;
                    padding: 0;
                    margin: 0;
                    
                    
                }
            }
            
        }
    }
    .penumpang {
        .org {
            position: absolute;
            bottom: 5vh;
            z-index: 12; 
            width: 10vw;
            height: auto;
            @media screen and (max-width:766px) {
                bottom: 3vh;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            &-1 {
                left: 30%;
            }
            &-2 {
                left: 5%;
                z-index: 13;
                width: 6vw;
                bottom: 19%;
                @media screen and (max-width:766px) {
                    bottom: 6vh;
                }
            }
            &-3 {
                left: 18%;
                bottom: 15vh;
                width: 5vw;
                @media screen and (max-width:766px) {
                    bottom: 5vh;
                }
            }
            &-4 {
                left: 60%;
                width: 10vw;
                bottom: -15vh;
                @media screen and (max-width:766px) {
                    bottom: -5vh;
                    width: 11vw;
                }
            }
        }
    }
    .all-rutes {
        // position: relative;
        .cibubur {
            top: 25vh;
            right: 12vw;
            position: absolute;
            @media screen and (max-width:766px) {
                right: 2vw;
            }
            &::before {
                @media screen and (max-width:766px) {
                    content: "";
                    position: absolute;
                    left: 15px;
                    top: 20px;
                    height: 125px;
                    width: 2px;
                    background: #333;
                }
            }
            .ruteb {
                // &::before {
                //     @media screen and (max-width:766px) {
                //         content: "";
                //         position: absolute;
                //         height: 200px;
                //         width: 200px;
                //         top: 23vh;
                //         z-index: 9;
                //         border: 3px dashed;
                //         right: -22vw;                    
                //     }
                // }
                // &::after {
                //     @media screen and (max-width:766px) {
                //         content: "";
                //         position: absolute;
                //         height: 200px;
                //         width: 200px;
                //         top: 22.8vh;
                //         z-index: 9;
                //         border: 6px solid #92c8d2;
                //         right: -23vw;
                //     }
                // }
                @media screen and (max-width:766px) {
                    width: 45vw;
                    // margin-left: 8px;
                    right: 2vw;
                }
               
                padding: 16px;
                width: 420px;
                background: rgba(white,.5);
               
            }
        }
        .bekasi {
            
            top: 25vh;
            left: 12vw;
            position: absolute;
            @media screen and (max-width:766px) {
                left: 2vw;
            }
            &::before {
                @media screen and (max-width:766px) {
                    content: "";
                    position: absolute;
                    left: 15px;
                    top: 20px;
                    height: 175px;
                    width: 2px;
                    background: #333;
                }
            }

            .rutea {
                padding: 16px;
                width: 420px;
                background: rgba(white,.5);
                // &::before {
                //     @media screen and (max-width:766px) {
                //         content: "";
                //         position: absolute;
                //         height: 200px;
                //         width: 200px;
                //         top: 30vh;
                //         z-index: 9;
                //         border: 3px dashed;
                //         left: -22vw;                    
                //     }
                // }
                // &::after {
                //     @media screen and (max-width:766px) {
                //         content: "";
                //         position: absolute;
                //         height: 200px;
                //         width: 200px;
                //         top: 29.8vh;
                //         z-index: 9;
                //         border: 6px solid #92c8d2;
                //         left: -23vw;
                //     }
                // }
                @media screen and (max-width:766px) {
                    width: 45vw;
                    left: 2vw;
                }
            }
        }
        .name {
            // font-weight: 600;
            font-size: 1.3rem;
            display: inline-block;
            margin: 0px 8px;
            @media screen and (max-width:766px) {
                font-size: 1.1rem;
                color: #0a637d;
            }
            &::before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                // left: -8px;
                margin-left: -12px;
                margin-top: 12px;
                background-color: #455169;
                @media screen and (max-width:766px) {
                    margin-top: 8px;
                }
            }
            
        }
    }
    
   
    .lrt-gede {
        position: absolute;
        left: -40vw;
        bottom: 20vh;
        width: 100%;
        height: auto;
        z-index:0;
        @media screen and (max-width:766px) {
            bottom: 50px;
            z-index: 11;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .img {
        width: 100%;
        height: 100vh;
        z-index: 10;
        @media screen and (max-width:766px) {
            position: absolute;
            bottom: 0px;
            height: auto;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @media screen and (max-width:766px) {
                object-fit: contain;
            }
        }
    }
}